<app-navbar></app-navbar>
<br/>
<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="input-group mb-3">
      <input type="text" class="form-control border-primary text-primary" aria-label="Text input with dropdown button" placeholder="Search" [(ngModel)]="searchParameter" (keyup)="searchUser()">
      <div class="input-group-append">
        <select class="custom-select border-danger text-danger" id="categories" name="Search by" [(ngModel)]="searchType">
          <option>Search by...</option>
          <option>Id</option>
          <option>Username</option>
        </select>
      </div>
    </div>
    <div class="col">

      <h4>Users:</h4>

      <table class="table" *ngIf="!isEmpty">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Username</th>
          <th scope="col">Country</th>
          <th scope="col">Birthday</th>
          <th scope="col">Billing status</th>
          <th scope="col">Wallets</th>
          <th scope="col">History</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.country}}</td>
          <td>{{user.birthday}}</td>
          <td>
            <span class="text-danger" *ngIf="user.billingLocked">Locked</span>
            <span class="text-success" *ngIf="!user.billingLocked">OK</span>
          </td>
          <td><a href="users#subscriptions"><button class="btn btn-primary" (click)="loadUserWallets(user.id, user.username)">View wallets</button></a></td>
          <td><a href="users#history"><button class="btn btn-secondary" (click)="loadUserHistory(user.id, user.username)">View history</button></a></td>

        </tr>

        </tbody>
      </table>

      <div class="container" *ngIf="isEmpty">
        <span>No users</span>
      </div>
    </div>
  </div>
</div>


<div class="container" *ngIf="!isEmpty && showPagination">
  <ul class="pagination float-right">
    <li class="page-item">
      <a class="page-link text-primary" aria-label="Previous" (click)="goOnPreviousePage()">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link text-primary" (click)="goOn1Page()">1</a></li>
    <input type="text" class="text-primary" style="width: 20px; margin-left: 7px; margin-right: 7px; text-align: center" [(ngModel)]="pageNumber" (keyup)="loadUsers()">
    <li class="page-item"><a class="page-link text-primary" (click)="goOnLastPage()">{{pagesCount}}</a></li>
    <li class="page-item">
      <a class="page-link text-primary" aria-label="Next" (click)="goOnNextPage()">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</div>



<div class="container" style="margin-top: 50px" id="subscriptions" *ngIf="showWallets">
  <span *ngIf="isWalletsEmpty">No wallets</span>
  <div class="row" *ngIf="!isWalletsEmpty">
    <div class="col">
      <button type="button" class="close float-right" aria-label="Close" (click)="closeTableWallets()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4>
        Wallets of {{username}}
      </h4>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Subscriptions</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let wallet of wallets">
          <td>{{wallet.walletName}}</td>
          <td>
            <button type="button" class="btn btn-primary dropdown-toggle" id="subscr" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Subscriptions</button>
            <div class="dropdown-menu" aria-labelledby="subscr">
              <div class="form-group">
                <span *ngIf="wallet.subscriptions.length == 0">No subscriptions</span>
                <table class="table" *ngIf="wallet.subscriptions.length != 0">
                  <thead class="thead-dark">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">CostPerMonths/$</th>
                    <th scope="col">Status</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sub of wallet.subscriptions">
                      <td>
                        {{sub.product.name}}
                      </td>
                      <td>
                        {{sub.product.costPerMonth.toFixed(2)}}
                      </td>
                      <td>
                        <span class="text-success" *ngIf="!sub.locked">OK</span>
                        <span class="text-danger" *ngIf="sub.locked">Locked</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteWallet(wallet.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="container" style="margin-top: 50px" id="history" *ngIf="showHistory">
  <div class="row">
    <div class="col">
      <button type="button" class="close float-right" aria-label="Close" (click)="closeTableHist()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4>
        History of {{username}}
      </h4>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Info</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let line of history">
          <td>{{line.date}}</td>
          <td>
           {{line.data}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

