<app-navbar></app-navbar>
<app-terms></app-terms>
<br/>
<br/>
<br/>

<div class="container" *ngIf="!isSuccess">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
       <div class="py-5 text-center">
         <h2>Sign in Form</h2>
       </div>

      <h4>Personal information</h4>
      <form [formGroup]="form">

        <div class="row">
            <div class="col-md-6 form-group" [ngClass]="displayFieldCss('firstName')">
              <label for="firstName" class="control-label required">First name</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName">
              <app-field-error
                [displayError]="isFieldValid('firstName')"
                [errorMsg]="'Please enter your name'">
              </app-field-error>
            </div>
            <div class="col-md-6 form-group" [ngClass]="displayFieldCss('lastName')">
              <label class="control-label required" for="lastName">Last name</label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName">
              <app-field-error
                [displayError]="isFieldValid('lastName')"
                errorMsg="Please enter your last name">
              </app-field-error>
            </div>
        </div>

        <div class="form-group" [ngClass]="displayFieldCss('username')">
          <label for="username" class="control-label required">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username">
            <app-field-error
              [displayError]="isFieldValid('username')"
              errorMsg="Please enter your username">
            </app-field-error>
        </div>


        <div class="form-group" [ngClass]="displayFieldCss('birthday')">
          <label class="control-label required" for="inputDate">Birthday</label>
          <input type="date" class="form-control" id="inputDate" formControlName="birthday" [max]="maxBirthday">
        </div>

        <div class="form-group" [ngClass]="displayFieldCss('country')">
          <label for="country" class="control-label required">Country</label>
          <select class="custom-select d-block w-100" id="country" formControlName="country">
            <option>United States</option>
            <option>Russia</option>
            <option>Belarus</option>
            <option>India</option>
          </select>
        </div>

        <div class="form-group" [ngClass]="displayFieldCss('role')">
          <label for="role" class="control-label required">Role</label>
          <select class="custom-select d-block w-100" id="role" formControlName="role">
            <option selected>USER</option>
          </select>
        </div>

        <div class="form-group" [ngClass]="displayFieldCss('email')">
          <label for="emailF"  class="control-label required">Email</label>
          <input type="email" class="form-control" id="emailF" title="Enter your valid email" placeholder="you@example.com" formControlName="email">
          <app-field-error
            [displayError]="isFieldValid('email')"
            errorMsg="Email is incorrect">
          </app-field-error>
        </div>



        <div class="form-group" [ngClass]="displayFieldCss('password')">
          <label for="passwordField" class="control-label required">Password</label>
          <input type="password" class="form-control" id="passwordField" formControlName="password">
          <app-field-error
            [displayError]="isFieldValid('password')"
            errorMsg="Password is incorrect">
          </app-field-error>
        </div>

        <div class="form-group" [ngClass]="displayFieldCss('confirmPassword')">
          <label for="ConfPassword" class="control-label required">Confirm password</label>
          <input type="password" class="form-control" id="ConfPassword" formControlName="confirmPassword">
          <app-field-error
            [displayError]="isPasswordsEqual()"
            errorMsg="Passwords don't match">
          </app-field-error>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="control-input required" id="same-address" formControlName="terms">
          <label class="control-label" for="same-address"><a href="reg" data-toggle="modal" data-target="#terms">I agree with terms and conditions</a></label>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!form.valid" (click)="onSubmit()">Sign Up</button>
      </form>


  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2019 Lucik, .Inc</p>
  </footer>
  </div>
  </div>
</div>
<div class="container text-center" *ngIf="isSuccess">
  <h3 class="text-success">Registration completed</h3>
  <div class="container" style="margin-top: 20px">
  <button class="btn btn-success" (click)="redirect()">Go to main</button>
  </div>
</div>

<div class="card mb-4 position-fixed shadow-sm alert alert-danger animated fadeInUp" *ngIf="isUsernameExists" style="top: 85%; left: 82%">
  <div class="card-body">
    <button type="button" class="close float-right" (click)="isUsernameExists = !isUsernameExists" style="margin-left: 3px">
      <span aria-hidden="true">&times;</span>
    </button>
    Such username exists
  </div>
</div>

<div class="card mb-4 position-fixed shadow-sm alert alert-danger animated fadeInUp" *ngIf="isEmailExists" style="top: 85%; left: 82%">
  <div class="card-body">
    <button type="button" class="close float-right" (click)="isEmailExists = !isEmailExists" style="margin-left: 3px">
      <span aria-hidden="true">&times;</span>
    </button>
    Such email exists
  </div>
</div>

