
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="email" class="form-control" id="email" title="Enter your valid email" placeholder="Email address"
               [(ngModel)]="user.email" name="email">
        <input type="password"  class="form-control" id="password"  [(ngModel)]="user.password" name="password"
               placeholder="Password" style="margin-top: 10px">
      </div>
      <div class="modal-footer">
        <a routerLink="reg" data-dismiss="modal">Sign Up</a>
        <button class="btn btn-primary"  type="submit"   (click)="autorUser()" data-dismiss="modal">Log In</button>

      </div>
    </div>
  </div>
  {{user | json}}
</div>


