<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand " href="main">
      <img src="https://i.ebayimg.com/00/s/MTYwMFgxNjAw/z/c1cAAOSwK~RaKWGW/$_7.PNG" width="40" height="40" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" style="border-right:1px">
          <a class="nav-link" href="main#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="main#partners">Partners</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="main#about">About</a>
        </li>
      </ul>
    </div>
    <a routerLink="logIn"><button class="btn btn-outline-primary my-5 my-sm-0" type="submit">Log In</button></a>
  </nav>
</header>





  <div id="carousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="img-fluid" src="http://fullhdwallpapers.ru/image/flowers/9476/roza-s-kaplyami.jpg" alt="...">
      </div>
      <div class="carousel-item">
        <img class="img-fluid" src="http://fullhdwallpapers.ru/image/nature/10654/skala-u-morya.jpg" alt="...">
      </div>
    </div>

    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Предыдущий</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Следующий</span>
    </a>
  </div>


  <hr class="container"/>

  <div class="container-fluid" id="partners">

    <div id="carousel2" class="carousel slide">
      <div class="container">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    <div class="card-img-top border-dark">
                      <img class="img-fluid rounded-circle" src="https://i.ytimg.com/vi/suK4jKc95k0/hqdefault.jpg">
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">View subscriptions...</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    <div class="card-img-top border-dark">
                      <img class="img-fluid rounded-circle" src="https://i.ytimg.com/vi/suK4jKc95k0/hqdefault.jpg">
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">View subscriptions...</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    <div class="card-img-top border-dark">
                      <img class="img-fluid rounded-circle" src="https://i.ytimg.com/vi/suK4jKc95k0/hqdefault.jpg">
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">View subscriptions...</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    <div class="card-img-top border-dark">
                      <img class="img-fluid rounded-circle" src="https://i.ytimg.com/vi/suK4jKc95k0/hqdefault.jpg">
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">View subscriptions...</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    <div class="card-img-top border-dark">
                      <img class="img-fluid rounded-circle" src="https://i.ytimg.com/vi/suK4jKc95k0/hqdefault.jpg">
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">View subscriptions...</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    <div class="card-img-top border-dark">
                      <img class="img-fluid rounded-circle" src="https://i.ytimg.com/vi/suK4jKc95k0/hqdefault.jpg">
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">View subscriptions...</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
        <img src="https://img.icons8.com/color/96/000000/circled-left-2.png">
        <span class="sr-only">Предыдущий</span>
      </a>
      <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
        <img src="https://img.icons8.com/color/96/000000/circled-right-2.png">
        <span class="sr-only">Следующий</span>
      </a>
    </div>
  </div>


<hr class="container"/>
<footer id="about" class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2017-2019 Lucik, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

