.dropdown:hover > .dropdown-menu {
  display: block;
}

.round{
  border-radius: 100px; /* Радиус скругления */
  border: 1px solid gray; /* Параметры рамки */
  box-shadow: 0 0 7px #666; /* Параметры тени */
  align-self: center;
}

hr{
  margin-bottom: 50px;
  margin-top: 50px;
}

#password{
  margin-top:20px ;
}

.map-container{
  overflow:hidden;
  padding-bottom:20%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


