<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand " href="#">
      <img src="https://i.ebayimg.com/00/s/MTYwMFgxNjAw/z/c1cAAOSwK~RaKWGW/$_7.PNG" width="40" height="40" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" style="border-right:1px">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="#">Partners</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="#">About</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-outline-primary my-5 my-sm-0" type="submit">Sign Up</button>
  </nav>
</header>


<main role="main">
  <div class="container">
  </div>
</main>

<footer>

</footer>

