<app-navbar></app-navbar>
<ng4-loading-spinner></ng4-loading-spinner>
<br/>
<br/>
<br/>
<br/>


<div class="container">
  <div class="row">

    <div class="col">

      <h4>My subscriptions:</h4>

      <table class="table" *ngIf="!isEmpty">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">$/month</th>
          <th scope="col">Status</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subscription of subscriptions">
          <td>{{subscription.subscriptionName}}</td>
          <td>{{subscription.costPerMonth}}</td>
          <td>
            <span class="text-danger" *ngIf="subscription.locked">Locked</span>
            <span class="text-success" *ngIf="!subscription.locked && !subscription.negBalance">OK</span>
            <span class="text-warning" *ngIf="subscription.negBalance && !subscription.locked">Not enough cash</span>
          </td>
          <td><button type="button" class="btn btn-danger" (click)="deleteSubscription(subscription.id)">Delete</button></td>
        </tr>

        </tbody>
      </table>

      <span *ngIf="isEmpty">No Subscriptions</span>
      <div class="container">
        <a routerLink="avSubscriptions"><button class="btn btn-info">+ View available subscriptions</button></a>
      </div>

    </div>
  </div>
</div>
