<app-navbar></app-navbar>
<app-add-subscription (Categories)="onCategChange($event)" (Products)="onProdChange($event)" (Companies)="onCompaniesChange($event)"></app-add-subscription>
<div class="row" style="margin-top: 100px">
  <nav class="col-md-2 bg-light">
    <div class="container">
    <h4>Filter:</h4>
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li>
            <input class="form-control mr-sm-2 border-info text-info" type="text" placeholder="Search subscription" aria-label="Search" [(ngModel)]="searchStr" (keyup)="searchSubscr()" >
          </li>
          <li class="nav-item">
            <div class="dropdown" style="margin-top: 10px">
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" (click)="getSubscrByCategory(0)">
                  <span data-feather="home"></span>
                  All<span class="sr-only">(current)</span>
                </button>
                <button class="dropdown-item" type="button" (click)="getSubscrByCategory(category.id)" *ngFor="let category of categories"><span data-feather="home"></span>
                  {{category.name}}<span class="sr-only">(current)</span></button>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown" style="margin-top: 10px">
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Companies
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                <button class="dropdown-item" type="button" (click)="getSubscrByCompany(0)">
                  <span data-feather="home"></span>
                  All<span class="sr-only">(current)</span>
                </button>
                <button class="dropdown-item" type="button" (click)="getSubscrByCompany(company.id)" *ngFor="let company of companies"><span data-feather="home"></span>
                  {{company.name}}<span class="sr-only">(current)</span></button>
              </div>
            </div>
          </li>
          <li class="nav-item" *ngIf="role == 0">
            <button class="btn btn-info" data-toggle="modal" data-target="#addSubscrWin" style="margin-top: 10px">
              Add product
            </button>
            <button class="btn btn-info" data-toggle="modal" data-target="#addCategWin" style="margin-top: 10px">
              Add category
            </button>
            <button class="btn btn-info" data-toggle="modal" data-target="#addCompanyWin" style="margin-top: 10px">
              Add company
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="col-md-9" *ngIf="!isEmpty">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <span class="float-right text-danger" *ngIf="product.sale != 0">-{{product.sale}}% off</span>
            {{product.name}}
          </div>
          <div class="card-body">
            <p class="card-text">{{product.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-inline-primary" (click)="loadWallets(product.id)" *ngIf="role == 1 && !product.isInUserProd">Subscribe</button>
                <button type="button" class="btn btn-danger btn-inline-danger" (click)="unsubscribe(product.id)"  *ngIf="role == 1 && product.isInUserProd">Unsubscribe</button>
                <button type="button" class="btn btn-danger btn-inline-danger" *ngIf="role == 0" (click)="deleteSubscription(product.id)">Delete</button>
                <div class="dropdown" *ngIf="role == 0">
                  <button class="btn btn-success btn-inline-success dropdown-toggle" style="margin-left: 5px" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sale
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <input type="number" class="form-control" [(ngModel)]="sale">
                    <button class="btn btn-primary" type="button" (click)="setSale(product.id)">Submit</button>
                  </div>
                </div>
              </div>
              <a data-toggle="modal" data-target="#walletsModal" #shWal></a>
              <span class="float-right">
                <small class="text-muted" *ngIf="product.sale == 0">{{product.costPerMonth}} $/month</small>
                <small class="text-muted" *ngIf="product.sale != 0">{{(product.costPerMonth - product.costPerMonth*(product.sale/100)).toFixed(2)}} $/month</small>
                <small class="text-muted" style="margin-left: 10px"><s *ngIf="product.sale != 0">{{product.costPerMonth}} $/month</s></small>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9" *ngIf="isEmpty">
    <p>No available products</p>
  </div>
</div>

<div class="container" *ngIf="!isEmpty && showPagination">
  <ul class="pagination float-right">
    <li class="page-item">
      <a class="page-link text-primary" aria-label="Previous" (click)="goOnPreviousePage()">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link text-primary" (click)="goOn1Page()">1</a></li>
    <input class="border-primary text-primary" type="text" style="width: 20px; margin-left: 7px; margin-right: 7px; text-align: center" [(ngModel)]="pageNumber" (keyup)="loadAllAvProducts()">
    <li class="page-item"><a class="page-link text-primary" (click)="goOnLastPage()">{{pagesCount}}</a></li>
    <li class="page-item">
      <a class="page-link text-primary" aria-label="Next" (click)="goOnNextPage()">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</div>


<div class="modal fade" id="walletsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">My Wallets</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #wal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let wallet of wallets">
            <span *ngIf="wallet.sum > 0" class="bg-warning">Name: {{wallet.walletName}}</span>
            <span *ngIf="wallet.sum > 0" class="bg-success">Sum: {{wallet.sum.toFixed(2)}}$</span>
            <label *ngIf="wallet.sum > 0" class="btn btn-primary float-right">
              <input type="radio" name="options" [(ngModel)]="subscription.wallet.id" value="{{wallet.id}}" id="option2" autocomplete="off"> Choose
            </label>
          </li>
        </ul>
        <div class="mb-3 alert alert-danger" *ngIf="showAlert" role="alert" style="margin-top: 5px">
          <button type="button" class="close" (click)="showAlert = !showAlert">
            <span aria-hidden="true">&times;</span>
          </button>
          Please, choose wallet
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary"  type="submit" (click)="checkWallets()">Next</button>
        <a data-dismiss="modal" data-toggle="modal" data-target="#datesModal" #wallet></a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="datesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="datesModal1">Choose period</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="inputDateStart">From</label>
          <input type="date" class="form-control" id="inputDateStart" [(ngModel)]="subscription.start" name="start" [min]="currDate">
          <div class="mb-3 alert alert-danger" *ngIf="showAlertStart" role="alert" style="margin-top: 5px">
            <button type="button" class="close" (click)="showAlertStart = !showAlertStart">
              <span aria-hidden="true">&times;</span>
            </button>
            Please, choose start date
          </div>
        </div>
        <div class="mb-3">
          <label for="inputDateEnd">To</label>
          <input type="date" class="form-control" id="inputDateEnd" [(ngModel)]="subscription.end" name="end" [min]="currDate">
          <div class="mb-3 alert alert-danger" *ngIf="showAlertEnd" role="alert" style="margin-top: 5px">
            <button type="button" class="close" (click)="showAlertEnd = !showAlertEnd">
              <span aria-hidden="true">&times;</span>
            </button>
            Please, choose end date
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" (click)="checkDates()">Subscribe</button>
        <a (click)="subscribe()" data-dismiss="modal" #date></a>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4 position-fixed shadow-sm alert alert-danger animated fadeInUp" *ngIf="showAlertW" style="top: 85%; left: 82%">
  <div class="card-body">
    <button type="button" class="close float-right" (click)="showAlertW = !showAlertW" style="margin-left: 3px">
      <span aria-hidden="true">&times;</span>
    </button>
    You have no wallets, click <a routerLink="wallets">here</a> to add
  </div>
</div>

<div class="card mb-4 position-fixed shadow-sm alert alert-danger animated fadeInUp" *ngIf="isIncorrectSale" style="top: 85%; left: 82%">
  <div class="card-body">
    <button type="button" class="close float-right" (click)="isIncorrectSale = !isIncorrectSale" style="margin-left: 3px">
      <span aria-hidden="true">&times;</span>
    </button>
    Incorrect value
  </div>
</div>

<div class="card mb-4 position-fixed shadow-sm alert alert-danger animated fadeInUp" *ngIf="isEnoughCash" style="top: 85%; left: 82%">
  <div class="card-body">
    <button type="button" class="close float-right" (click)="isEnoughCash = !isEnoughCash" style="margin-left: 3px">
      <span aria-hidden="true">&times;</span>
    </button>
    Not enough money
  </div>
</div>

